# Created by .ignore support plugin (hsz.mobi)
/target/
/dropwizard-quickstart.iml
/.idea/
/dropwizardapp/dropwizard-app.iml
/dropwizarddao/dropwizard-dao.iml
/dropwizardapp/target/
/dropwizarddao/target/
/dropwizardmodel/target/
/dropwizardmodel/dropwizardmodel.iml
